app/node_modules
app/public/hot
app/public/fonts
app/public/storage
app/public/js
app/public/css
app/public/svg
app/public/images
app/public/mix-manifest.json
app/storage/*.key
app/vendor
app/.env
app/.env.backup
app/.phpunit.result.cache
/.idea
/.vscode
